<div class="Cafeteria-Menu">
  <ul>
    <% @menus.each do |menu| %>
      <li class="Menu">
        <% if @current_user.is_owner? %>
          <span class="MenuItem-delete">
            <%= link_to menu, method: :delete, data: { confirm: "Are you sure?" } do %>
              <%= image_tag "trash-can-outline.svg" %>
            <% end %>
          </span>
        <% end %>
        <a href=<%= "##{menu.name}" %>><%= menu.name %></a>
      </li>
    <% end %>
  </ul>
</div>