<div class="Cafeteria-Menu">
<p class="MenuList-Header">Menus</p>
  <ul>
    <% @menus.each do |menu| %>
      <li class="Menu">
        <% if @current_user.is_owner? %>
          <div class="MenuItem-delete">
            <%= link_to menu, method: :delete do %>
              <%= image_tag "trash-can-outline.svg" %>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>