<%= render partial: "search" %>
<% if @current_user.is_owner? %>
  <div class="Walk-In">
    <h3>
      Walk-in customer Order
      <%= image_tag "buyer.png" %>
    </h3>
  </div>
<% end %>
 <div class="MenuItems">
  <%= render partial: "menu_items/menulist" %>
 <div> 
  <% if @current_user.role == "owner" %>
   <%= render partial: "menu" %>
  <% end %>
 </div>
</div>
