<%= render partial: "search" %>
<% if @current_user.is_owner? %>
  <div class="Walk-In">
    <h2>
      Walk-in customer Order
      <%= image_tag "buyer.png" %>

    </h2>
  </div>
<% end %>
<div class="MenuItems">
  <%= render partial: "menu" %>
  <%= render partial: "menu_items/menulist" %>
</div>
