<marquee class="Home-Top">Exciting Foods</marquee>
<p class="order-button">
  <%= link_to "Order!", menus_path %>
</p>
<br>
<footer class="Page-Footer">
   <div class="Footer-Division">
     <div class="Footer-Container">
        © 2020 Copyright pk-plaza.com
     </div>
   </div>
</footer>