<div class = "Home-Page">
 <h1 class = "Home-title">Welcome to Cafeteria</h1>
 <p>We serve Human Food:)</p>
 <p>We are delicious!</p>
 <p class = "lead">You come to here to eat, right?</p>
 <hr class = "m-y">
 <p>Do you have money?</p>
 