.Cart-item-price {
  width: 80%;
  margin: 5px auto;
}

.Cart-item-price > ul {
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
}

.Cart-title {
  text-align: center;
}

.total-price {
  margin-left: auto;
  padding: 5px;
  font-family: sans-serif;
  font-size: 30px;
}

.Cart {
  max-width: 50%;
  margin: 5px auto;
  font-family: sans-serif;
}

.Cart-Heading {
  max-width: 100px;
  margin-bottom: 35px;
  margin: 0 auto;
  color: #DD4132;
}

.Cart-item {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 5px;
}

.CartItem-name {
  width: 200px;
}

.Cart-item > span { 
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.Cart-item-heading { 
   display: flex;
   align-items: center;
   padding: 5px;
}

.Cart-total-price {
  display: flex;
  align-items: center;
  padding: 5px;
}

.cart-checkout {
  width:300px;
  display: flex;
  border: 2px solid transparent;
  font-size: 20px;
  color: white;
  align-items: center;
  margin: 8px auto;
  background-color: #a13cf9;
  border-radius: 5px;
  padding: 8px;
}

.cart-checkout:hover {
  background: #BC243C;
}

.empty-cart { 
  text-align: center;
  margin: 8px;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.CartItem > .total-price {
  display: flex;
  align-items: center;
}

.Cart-Address {
  border: 2px solid black;
  margin-left: 25px;
  margin-bottom: 10px;
  font-size: 25px;
  padding: 15px;
}

.Address-Header {
  margin-top: 50px;
  margin-left: 25px;
  color: #F96714;
}

.CartItem-quantity {
  font-size: 25px;
  margin-left: 60px;
  display: inline-flex;
  padding-top: 5px;
  margin-top: 5px;
}

.CartItem-add {
  padding: 5px;
  border: 1px dotted #a13cf9;
  font-size: 18px;
  margin-right: 10px;
  color: #a13cf9;
  display: flex;
  align-items: center;
}

.CartItem-add > a {
  padding: 0 8px;
}

.qty {
  width: 100px;
  font-size: 20px;
  padding: 5px;
  margin-left: 15px;
}

.CartItem-add > a {
  color: #a13cf9;
}