body { 
  font-family: sans-serif;
  background: linear-gradient(35deg,#CCFFFF,#FFCCCC);
}

footer {
  bottom: 0;
  background-color: #BCAAA4;
  z-index: 0;
  left: 0;
  right: 0;
  margin: 0 20px 0;
  min-height: 10px;
}

.Page-Footer {
  color: #3e2511;
  margin: 3px 20px 0 20px;
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
}

.Notice {
  text-align: center;
  color: hsl(0, 100%, 50%);
}

.navbar {
  display: flex;
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
}

.navbarHeader {
  margin: 5px;
  padding: 5px;
  color: rgba(34, 33, 33, 0.877);
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  color: red;
}

.navbarHeader img {
  padding: 5px;
}

.navbarButtons {
  align-items: left;
  margin-left:auto ;
  display: flex;
}

.Buttons-container {
  align-items: left;
  margin-left:auto ;
  margin-top: 150px;
  margin-right: 30px;
}

.navbarButton {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 5px;
  padding: 5px;
}

.navbar-indexbutton {
  align-items: left;
  margin-left: auto;
  margin-right: 170px;
  color: green;
  padding-left: 20px;

}

.Buttons-container:hover .navbarButtons {
  display: flex;
}

.navbarButton > a {
  text-decoration: none;
  color: rgba(24, 23, 23, 0.842);
  font-family: sans-serif;
  margin-right: 5px;
  text-align: center;
  padding: 5px;
}

.navbarButton > a:hover {
  border-bottom: 1px solid #228B22;
  color: crimson;
}

.alert,#error_string {
  font-family: sans-serif;
  max-width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: darkred;
  font-size: 20px;
}

#error_string h2 {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  margin-bottom: 20px;
}

.Home-Top {
  font-family: sans-serif;
  font-size: 30px;
  padding: 8px;
  margin-bottom: 20px;
  text-align: center;
  color: rgba(255, 68, 0, 0.904);
}

.order-button {
  margin: 5px auto;
  text-align: center;
}

.order-button > a {
  font-size: 26px;
  font-family: sans-serif;
  text-decoration: none;
  background-color: hsl(0, 100%, 50%);
  color: white;
  padding:10px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.order-button:hover a {
  background-color: white;
  color: rgba(255,68,0,0.904);
  border-color: rgba(255,68,0,0.904);
}

.navbar-logo {
  display: inline-flex;
  align-items: center;
}

.SearchItem {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.OrderOnline-head {
  padding-left: 120px;
  padding-bottom: 15px;
}

.OnlineOrder {
  margin-top: 10px;
  margin-left: 50px;
}
