  .WalkIn{
    max-width: 90%;
    margin: 5px auto;
  }
  .WalkIn > h3{
    text-align: center;
    color: rgba(94, 121, 185, 0.91);
  }
  .MenuItems{
    max-width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
  }
  .Cafeteria-Menu{
    width: 25%;
    margin: 5px;
    border-right: 2px dotted rgba(197, 194, 194, 0.966);
    margin-left: 400px;
    margin-top: 50px;
  }

  .MenuName{
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    color: crimson;
  }

  h3.MenuName:target{
    animation: menuHighlight 15s 1;
  }

  .Menu{
    padding: 12px;
    text-align: right;
    font-size: 25px;
    display: flex;
    width: 300px;
    align-items: center;
  }

  .Menu:hover {
    background-color: white;
  }

  .MenuList-Header {
    font-size: 30px;
    font-weight: 300px;
    color: black;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .MenuItem-Name {
    width: 200px;
    text-align: center;
    display: block;
    font-size: 20px;
  }
  .MenuItem {
    height: 65px;
    margin: 5px;
    vertical-align: middle;
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    font-family: sans-serif;
  }
  .MenuItems {
    width: 100%;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  

  .MenuItem > p{
    padding: 5px;
  }

  .MenuItem:hover{
    border-radius: 10px;
  }
  
   .Update-item{
     margin-right: 20px;
     text-align: center;
     margin-bottom: 200px;
     display: flex;
    }
  
    .OrderItem-add{
     background-color: white;
     border-radius: 4px;
     padding: 8px;
    }
  
   .MenuItem-details{
     display: block;
     padding: 2px;
     margin: 5px;
     font-size: 19px;
   }
   .MenuItem-price{
     width: 300px;
     text-align: center;
     font-size: 25px;
     display: block;
   }
   .OrderItem-add > a{
    color: black;
    width: 20px;
    padding: 5px;
   }

   @keyframes MenuHighlight{
    0%{background-color: #a13cf9;color: white;}
    99%{background-color: #a13cf9;color: white;}
    100%{background-color: white;color: black;}
  }
  
  .Menu:hover  .MenuItem-delete {
    background-color: white;
    display: block;
  }
  .MenuItem-delete{
    display: none;
    visibility: hidden;
    margin-left: 30px;
  }
  .MenuItem-delete:hover {
    background-color: lightskyblue;
    visibility: visible;
  }

  .MenuItem-Delete {
    display: none;
  }

  .MenuItem-Delete > a img {
    padding: 8px;
  }

  .MenuItem:hover > .MenuItem-Delete {
    display: inline-block;
  }
 
  .MenuItem-description{
    font-size: 22px;
    padding: 5px;
    width: 300px;
    text-align: center;
    display: block;
  }

  .MenuItem-rating{
    padding: 3px;
    font-size: 25px;
    width: 300px;
    display: block;
    text-align: center;
  }
