  .WalkIn{
    max-width: 70%;
    margin: 5px auto;
  }
  .WalkIn > h3{
    text-align: center;
    color: rgba(94, 121, 185, 0.91);
  }
  .MenuItems{
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    font-family: sans-serif;
  }
  .Cafeteria-Menu{
    width: 25%;
    margin: 5px;
    border-right: 2px dotted rgba(197, 194, 194, 0.966);
    margin-left: 300px;
    margin-top: 50px;
  }
  .MenuName{
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: blueviolet;
  }
  h3.MenuName:target{
    animation: menuHighlight 15s 1;
  }
  .Menu{
    margin: 5px;
    padding: 5px;
    text-align: right;
    font-size: 20px;
    display: flex;
    width: 200px;
    align-items: center;
  }
  .Menu > a{
    color: #0509c4;
    margin-left: auto;
    padding: 2px 8px;
  }

  .MenuList-Header {
    font-size: 35px;
    font-weight: 350px;
    color: black;
    margin-bottom: 10px;
  }

  .MenuItem {
    height: 65px;
    margin: 5px;
    padding: 5px;
    margin-left: 25px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: sans-serif;
  }
  .MenuItems{
    display: flex;
    width: 85%;
    margin: 0 auto;
  }
  .MenuItems{
    border-bottom: 3px solid black;
  }
  .MenuItem > p{
    padding: 5px;
  }
  .MenuItem:hover{
    background-color: greenyellow;
    border-radius: 10px;
  }
  
   .Update-item{
     margin-right: 15px;
     text-align: center;
     display: flex;
    }
  
    .OrderItem-add{
     background-color: #a13cf9;
     border-radius: 6px;
     padding: 8px;
    }
  
   .MenuItem-details{
     display: block;
     padding: 2px;
     margin: 5px;
     font-size: 18px;
   }
   .MenuItem-price{
     width: 200px;
     text-align: center;
     color: #535665;
     display: block;
   }
   .OrderItem-add > a{
    color: #a13cf9;
    width: 20px;
    padding: 5px;
   }

   @keyframes MenuHighlight{
    0%{background-color: #a13cf9;color: white;}
    99%{background-color: #a13cf9;color: white;}
    100%{background-color: white;color: black;}
  }
  
  .Menu:hover  .MenuItem-delete{
    display: block;
  }
  .MenuItem-delete{
    display: none;
  }
  .MenuItem-delete > a img{
    padding: 8px;
  }
 
  .MenuItem-description{
    font-size: 15px;
    padding: 5px;
    color:#7e808c;
    text-align: center;
    display: block;
    border-left: 1px dotted black;
  }
  .MenuItem-rating{
    padding: 3px;
    margin-left: 5px;
    width: 200px;
    display: block;
    text-align: center;
  }
